@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aqua;
  background-color: black;
}

code {
  font-family: 'Fira Sans', 'Courier New',sans-serif, monospace;
  color: aqua;
  background-color: black;
}
